<h3>All Horses</h3>
<table>
<th>Horse</th>
<th>Owner</th>
    <% current_user.horses.each do |horse| %>
        <tr>
            <td><%= horse.name %></td>
            <td><%= horse.owner %></td>
        </tr>
    <% end %>
</table>

<h3>New Horse</h3>
<%= form_for Horse.new, url: horses_path do |f| %>
    <% if flash[:name_error] %>
        <p id="error"><%= flash[:name_error] %></p>
    <% end %>
<%= f.label :name %>
<%= f.text_field :name  %><br>
    <% if flash[:owner_error] %>
        <p><%= flash[:owner_error] %></p>
    <% end %>
<%= f.label :owner %>
<%= f.text_field :owner  %><br>
<%= f.submit "Add Horse"%>
<% end %>