<h2><%= @horse.name %></h2>
<div id = "info">
<h4>Owner: <%= @horse.owner %></h4>

<%= link_to "Edit Horse Info", edit_horse_path(@horse) %>
<br><br>
<%= button_to "Remove Horse", horse_path(@horse), method: :delete %>
</div>
<h3><%= @horse.nickname %>'s Riders:</h3>
    <% @horse.riders.uniq.each do |rider| %>
    <ul>
        <li><%= link_to rider.name, rider_path(rider) %></li>
    </ul>
        <% end %>


<h3><%= @horse.nickname %>'s Ride Schedule:</h3>

<table class="board">
    <th>Date</th>
    <th>Time</th>
    <th>Rider</th>
    <th>Notes</th>
    <% sort_horse_rides(@horse).each do |ride| %>
    <tr>
        <td><%= ride.format_date %></td>
        <td><%= ride.format_time %></td>
        <td><%= link_to ride.rider.name, rider_path(ride.rider) %></td>
        <td><%= ride.notes %></td>
    </tr>
    <% end %>
</table>
