<h3>Today's Rides</h3>
<table class="board">
    <th>Date</th>
    <th>Time</th>
    <th>Rider</th>
    <th>Horse</th>
    <th>Notes</th>
    <% todays_rides.each do |ride| %>
    <tr>
        <td><%= ride.format_date %></td>
        <td><%= ride.format_time %></td>
        <td><%= link_to ride.rider.name, rider_path(ride.rider) %></td>
        <td><%= link_to ride.horse.name, horse_path(ride.horse) %></td>
        <td><%= ride.notes %></td>
        <td><%= link_to "Update", edit_ride_path(ride) %></td>
        <td><%= button_to "Cancel", ride_path(ride), method: :delete, id: "submit"%></td>
    </tr>
    <% end %>
</table>

<div class="display">

<h3>Select Rider to Schedule Ride</h3>

    <div class="error"><%= has_riders %></div>

        <% current_user.riders.each do |rider|%>
            <%= link_to rider.name, rider_path(rider) %><br>
        <% end %>

        <p id="link"><%= link_to "Add Rider", new_rider_path %></p>
    </div>




