<%= @user.name %>
<br>
<h3>Select Rider</h3>
<% Rider.all.each do |rider|%>
<%= link_to rider.name, rider_path(rider) %><br>
<% end %>
<br>

All Rides
<table>
<th>Time</th>
<th>Location</th>
<th>Horse</th>
<th>Rider</th>
<th>Notes</th>
<% Ride.all.each do |ride| %>
<tr>
<td><%= ride.time %></td>
<td><%= ride.location %></td>
<td><%= ride.horse.name %></td>
<td><%= ride.rider.name %></td>
<td><%= ride.notes %></td>
</tr>
<% end %>

</table>
<br>
<%= link_to "Add Rider", new_rider_path %>
<br>
<%= link_to "Add Horse", new_horse_path %>