<h3>Select Rider to Schedule Ride</h3>
<% current_user.riders.each do |rider|%>
<%= link_to rider.name, rider_path(rider) %><br>
<% end %>


<br>
<% if flash[:error] %>
    <p id="error"><%= flash[:error] %></p>
<% end %>
<%= form_for Rider.new, url: riders_path do |f| %>
<%= f.text_field :name %>
<%= f.submit "Add Rider"%>
<% end %>
<br>

<h4>All Rides</h4>
<table>
    <th>Date</th>
    <th>Time</th>
    <th>Horse</th>
    <th>Rider</th>
    <th>Notes</th>
    <% sort_rides.each do |ride| %>
    <tr>
        <td><%= ride.format_date %></td>
        <td><%= ride.format_time %></td>
        <td><%= ride.horse.name %></td>
        <td><%= ride.rider.name %></td>
        <td><%= ride.notes %></td>
        <td><%= link_to "Update", edit_ride_path(ride) %></td>
        <td><%= button_to "Cancel", ride_path(ride), method: :delete %></td>
    </tr>
    <% end %>
</table>

