<p><%= @rider.name %> - <%= link_to "Edit Rider", edit_rider_path(@rider)%></p> 

<%= link_to "View Ride Schedule", rider_rides_path(@rider)%>

<p>Horses <%= @rider.name %> is riding:</p>
<% @rider.horses.uniq.each do |horse| %>
<ul>
<li><%= link_to horse.name, horse_path(horse) %></li>
</ul>
<% end %>

<%= link_to "Schedule New Ride", new_rider_ride_path(@rider)%>
<br><br>
<%= button_to "Remove Rider", rider_path(@rider), method: :delete %>
