<h2><%= @rider.name %></h2>
<%= link_to "Schedule Ride", new_rider_ride_path(@rider)%>

<h3>All Rides</h3>

<table>
    <th>Date</th>
    <th>Time</th>
    <th>Horse</th>
    <th>Location</th>
    <th>Notes</th>
    <% @rider.rides.each do |ride| %>
    <tr>
        <td><%= ride.format_date %></td>
        <td><%= ride.format_time %></td>
        <td><%= ride.horse.name %></td>
        <td><%= ride.location %></td>
        <td><%= ride.notes %></td>
    </tr>
    <% end %>
</table>