<h3><%= @rider.name %></h3>
<p id="link"><%= link_to "Edit Rider", edit_rider_path(@rider)%></p>
<%= button_to "Remove Rider", rider_path(@rider), method: :delete %>

<h3>Today's Rides</h3>
<table class="board">
    <th>Time</th>
    <th>Horse</th>
    <th>Notes</th>
<% @rider.todays_rider_rides.each do |ride| %>
    <tr>
        <td><%= ride.format_time %></td>
        <td><%= ride.horse.name %></td>
        <td><%= ride.notes %></td>
        <td><%= link_to "Update", edit_ride_path(ride) %></td>
        <td><%= button_to "Cancel", ride_path(ride), method: :delete, id: "submit"%></td>
    </tr>
    <% end %>
    </table>

<h4>Horses <%= @rider.name %> rides:</h4>
<% @rider.horses.uniq.each do |horse| %>
<ul>
<li id="horse"><%= link_to horse.name, horse_path(horse) %></li>
</ul>
<% end %>

<p><%= link_to "View Complete Ride Schedule", rider_rides_path(@rider)%></p>   
<p>- OR -</p>   
<p><%= link_to "Schedule New Ride", new_rider_ride_path(@rider)%></p>
