<h3>Select Date</h3>
<%= form_tag ride_by_date_path do %>
<%= date_field_tag :day %>
<%= submit_tag "Find Rides"%>
<% end %>

<% if @rides != "" %>
    <h3><%= format_date_from_params(params) %></h3>
    <table>
    <th>Time</th>
    <th>Rider</th>
    <th>Horse</th>
    <th>Notes</th>

    <% @rides.each do |ride| %>
        <tr>
        <td><%= ride.format_time %></td>
        <td><%= ride.rider.name %></td>
        <td><%= ride.horse.name %></td>
        <td><%= ride.notes %></td>
        </tr>
    <% end %>
    </table>
<% end %>