<h3><%= link_to @rider.name, rider_path(@rider) %>'s Rides</h3>
<table class="board">
    <th>Date</th>
    <th>Time</th>
    <th>Horse</th>
    <th>Notes</th>
    <% @rider.sort_rider_rides.each do |ride| %>
    <tr>
        <td><%= ride.format_date %></td>
        <td><%= ride.format_time %></td>
        <td><%= link_to ride.horse.name, horse_path(ride.horse) %></td>
        <td><%= ride.notes %></td>
        <td><%= link_to "Update", edit_ride_path(ride) %></td>
        <td><%= button_to "Cancel", ride_path(ride), method: :delete %></td>
    </tr>
    <% end %>
</table>

