<table class="board">
    <th>Date</th>
    <th>Time</th>
    <th>Horse</th>
    <th>Rider</th>
    <th>Notes</th>
    <tr>
        <td><%= format_date(ride) %></td>
        <td><%= format_time(ride) %></td>
        <td><%= link_to @ride.horse.name, horse_path(@ride.horse) %></td>
        <td><%= link_to @ride.rider.name, rider_path(@ride.rider) %></td>
        <td><%= @ride.notes %></td>
    </tr>
</table>
