<!DOCTYPE html>
<html>
  <head>
    <title>The Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Lato:ital,wght@0,300;1,400&display=swap" rel="stylesheet"> 
    <%= favicon_link_tag asset_path('the-board.png') %>
  </head>

  <body>
  <nav>
    <% if logged_in? %>
      <%= link_to "HOME", user_path(current_user) %>
      <%= link_to "HORSES", horses_path %>
      <%= link_to "LOGOUT", logout_path %>
    <% else %>
      <%= link_to "REGISTER", new_user_path %>
      <%= link_to "LOGIN", login_path %>
      <%= link_to "SIGN IN WITH GOOGLE", "/auth/google_oauth2" %>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
