<!DOCTYPE html>
<html>
  <head>
    <title>TheBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "Home", user_path(current_user) %>
      <%= link_to "Logout", logout_path %>
      <%= link_to "Riders", riders_path %>
      <%= link_to "Horses", horses_path %>
      <%= link_to "Rides By Day", ride_calendar_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
